body {
    background-color: darkslateblue;
}
.main-holder {
    height: 100vh;
    background-image: url(img/soka.jpg);
    background-size: cover;
}
.navbar-light {
    opacity: 0.8;
}
.main-holder .btn {
    width: 50vw;
    position: absolute;
    top: 80vh;
    left: 50vw;
    transform: translateX(-50%);
    box-shadow: 0 0 8px white;
}
.gameHolder {
    display: none;
}
#textPitanja {
    text-align: center;
    width: 100%;
}
.answersHolder {
    width: 100%;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 8px #ddd;
    padding: 20px 0;
}
.option {
    width: 45%;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin: 2.5%;
    float: left;
    background-color: #ecd450;
    text-align: center;
    font-size: 20px;
    line-height: 94px;
    position: relative;
}
.error {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
    background-image: url("img/error.png");
}
#points {
    width: 37px;
    height: 33px;
    margin-top: 18px;
    box-shadow: 0 0 8px white;
    overflow: hidden;
}

.the-end {
    width: 100vw;
    height: 100vh;

    display: none;
}
.display-points {
    width: 100vw;
    height: 100vh;
    line-height: 100vh;
    font-size: 200px;
    text-align: center;
    color: tomato;
    text-shadow: 1px 1px 8px gold;
}
